{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block main %}
<section class="dronoscope">
  <h2>{% page_attribute "page_title" %}</h2>
  <div class="ribbon">
    <span class="dots dot1"></span>
    <span class="dots dot2"></span>
    <span class="dots dot3"></span>
    <span class="dots dot4"></span>
    <span class="dots dot5"></span>
    <span class="dots dot6"></span>
    <span class="dots dot7"></span>
    <span class="dots dot8"></span>
    <h3 class="ribbon-content">
      <span>La Solution vient du Ciel</span>
    </h3>
  </div>
  {% placeholder "content" %}
</section>
{% endblock main %}
{% block content %}
{% endblock content %}
