{% extends "base.html" %}
{% load cms_tags %}
{% load static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<section class="presentation">
  <h2>A propos du dronoscope</h2>
  <span class="interline">XXX</span>
  <h2>Une alchimie complète pour un pilote en or!</h2>
  <ul>
    <li>
      <img src="{% static 'img/profile.png' %}" alt="">
      <h4>Le pilote</h4>
      <h5>Un poil de barbe</h5>
      <hr class="sub-h5">
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </li>
    <li>
      <img src="{% static 'img/diploma.png' %}" alt="">
      <h4>Triple diplôme</h4>
      <h5>Une pincée de diplôme</h5>
      <hr class="sub-h5">
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </li>
    <li>
      <img src="{% static 'img/up.png' %}" alt="">
      <h4>Label qualité</h4>
      <h5>Une dose de bonne humeur</h5>
      <hr class="sub-h5">
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </li>
    <li>
      <img src="{% static 'img/landscape.png' %}" alt="">
      <h4>Multi-tâche</h4>
      <h5>Et beaucoup de savoir-faire</h5>
      <hr class="sub-h5">
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </li>
  </ul>
  {% placeholder "content" %}
</section>
{% endblock content %}
